.todo {
    width: 62.75rem;
    height: 4.5rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 1rem;

    margin-top: 0.75rem;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.checkBox {
    background: transparent;
    outline: 0;
    border: 0;
    color: var(--blue);
    line-height: 0; 
    border-radius: 2px;
    cursor: pointer;
}

.simulaRadio {
    width: 1.25rem;
    height: 1.25rem;

    border: 2px solid var(--blue);
    border-radius: 50%;
    overflow: hidden;

    transition: border 0.2s;
    transition: background 0.2s;
}

.checkBox .simulaRadio:hover  {
    border: 2px solid var(--blue-dark);
    background: #1e709f25;
    
}

.simulaRadioCompleted {
    width: 1.25rem;
    height: 1.25rem;

    background: var(--purple-dark);
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border 0.2s;
    transition: background 0.2s;
}

.checkBox .simulaRadioCompleted:hover  {
    background: var(--purple);
    
}

.todoContent {
    width: 55rem;
}

.todoContentCompleted {
    width: 55rem;
    color: var(--gray-300);
    text-decoration: line-through;
}

.deleteTask {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    cursor: pointer;

    transition: color 0.2s;
}

.deleteTask:hover {
    color: var(--red-500);
}